--color-primary: #dcf537;
--color-background-primary: #101828;
--color-background-grey: #344054;
--color-background-white: #fff;
--color-background-secondary: #1d1d1d;
--color-background-secondary-bold: #1a1a1a;
--color-background-purple: #a586fe;
--color-text-label: #ccc;
--color-text-white: #fff;
--color-text-color: #2e260a;
--color-text-grey: #d0d5dd;
--color-text-primary: #0d0d0d;
--color-text-white-alpha: #f9fafb;
--color-text-default: #98a2b3;
--color-text-pagination: #616161;
--color-text-purple: #a586fe;
--color-text-link: #a586fe;
--color-border-primary: #333;
--color-green-primary: #30d158;
--color-error-primary: #e9453a;
--color-border-color: #30445f;
--color-brand-yellow: #dcf537;
--color-gray-25: #fcfcfd;
--color-gray-100: #f2f4f7;
--color-gray-200: #eaecf0;
--color-gray-300: #d0d5dd;
--color-gray-400: #98a2b3;
--color-gray-500: #667085;
--color-gray-600: #475467;
--color-gray-700: #344054;
--color-gray-800: #1d2939;
--color-gray-900: #101828;
--color-secondary-600: #7f56d9;
--color-error-500: #f04438;
--color-warning-500: #f79009;
word-break: break-word;
font-family: Poppins,sans-serif!important;